* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1em;
}

.boxcenter {
    width: 1180px;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-image: linear-gradient(#F90, #F60);
    border: 1px #F60 solid;
    color: rgb(65, 61, 61);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.giohang {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 20px;
    height: 60px;
    background-image: linear-gradient(#F90, #F60);
    padding: 10px;
    z-index: 5;
}

.giohang img {
    width: 40px;
    float: left;
    margin-right: 5px;
}

.giohang span {
    font-weight: bold;
    font-size: 2vw;
    color: yellow;
    height: 40px;
    line-height: 40px;
}

#showcart {
    position: fixed;
    border-radius: 10px;
    right: 20px;
    top: 80px;
    padding: 10px;
    background-color: #EEE;
    border: 1px solid #CCC;
    z-index: 4;
}

.footer {
    background-color: #F90;
    border: 1px #F60 solid;
    color: #FFF;
    font-size: 0.8vw;
    border-radius: 5px;
    padding: 20px;
}

.header h1 {
    margin: 20px;
    font-size: 1.5em;
    color: #FFF;
    text-align: center;
}

h1 {
    margin: 20px 0px;
    font-size: 1.2vw;
    color: #F60;
}

.menu {
    background-color: black;
    color: #CCC;
    border-radius: 5px;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
    background-color: rgb(245, 225, 114);
}

.banner img {
    height: 300px;
}

.boxsp {
    float: left;
    width: calc(32% - 5px);
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
}

.boxsp input {
    width: 40px;
    position: absolute;
    right: 5px;
    bottom: 40px;
    border-radius: 5px;
    border: 1px #FC0 solid;
}

.boxsp button {
    width: 80px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: #FF6600;
    border-radius: 5px;
    border: 1px #FC0 solid;
    padding: 5px 0px;
    color: #EEE;
}

.boxsp .img {
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}


/* giỏ hàng */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #999;
    padding: 10px;
}

th,
td {
    border: 1px #CCC solid;
    text-align: center;
}

td div {
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
}

th div {
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: right;
    font-size: 1.5rem;
}

td img {
    width: 100px;
}

.mb {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0 ;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: 0px;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}



@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}